*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 0;
}

/* ===== BLOCK: inventory ===== */
.inventory__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.inventory__add-product {
  margin-block: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

/* ===== BLOCK: add-product ===== */

.add-product__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.add-product__field label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.add-product__submit {
  align-self: flex-end;
}

/* ===== BLOCK: product-list ===== */
.product-list__empty {
  font-weight: bold;
  font-size: 18px;
  color: gray;
}

.product-list table tr td:last-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ===== BLOCK: modal_addProduct ===== */
.modal_addProduct__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
}

/* ===== BLOCK: utils ===== */
.input--visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 1px;
}

/* ===== Media query: Dekstop(>= 920px) ===== */
@media (min-width: 920px) {
  .inventory__add-product {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    gap: 0;
  }

  .add-product__field {
    width: auto;
  }

  .product-list table tr td:last-child {
    display: table-cell;
  }
}
